@import "@styles/colors.scss";
@import "@styles/main.scss";

.pulseLoader {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;

    span {
        border-radius: 50%;
    }
}