@import "@styles/colors.scss";

.wrapper {
    width: fit-content;
    height: fit-content;
    font-family: Roboto;
}

.tooltip {
    position: fixed;
    pointer-events: none;
    width: fit-content;
    height: fit-content;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-family: Roboto;
    z-index: 999999999999;

    &[data-is-hovered="true"] {
        opacity: 1;
        transition: opacity 0.5s;
    }

    &[data-is-hovered="false"] {
        opacity: 0;
        transition: opacity 0.15s;
    }
}