@import "@styles/colors.scss";

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background: none;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;

    .ready,
    .running {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hidden {
        display: none;
    }

    &:disabled {
        cursor: default;
    }
}