@import "@styles/colors.scss";

$transitionDuration: 0.2s;

.iconLink {
    text-decoration: none;
    font-family: Roboto;
    align-items: center;
    display: flex;
    gap: 8px;

    svg {
        transition: fill $transitionDuration;
    }

    span {
        transition: color $transitionDuration;
        font-size: 16px;
    }
}

.disabledIconLink {
    font-family: Roboto;
    align-items: center;
    display: flex;
    gap: 8px;
    cursor: default;
    user-select: none;
}