@import "@styles/colors.scss";

$transitionDuration: 0.2s;

.labeledIconButton {
    text-decoration: none;
    font-family: Roboto;
    align-items: center;
    display: flex;
    gap: 8px;
    background: unset;
    outline: unset;
    border: unset;
    cursor: pointer;

    svg {
        transition: fill $transitionDuration;
    }

    span {
        transition: color $transitionDuration;
        font-size: 16px;
    }
}