@import "@styles/colors.scss";

.fieldSet {
    outline: none;
    border: none;
    width: fit-content;
    font-family: Roboto;
}

.radioGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: fit-content;
}

.helperMessage {
    font-size: 13px;
    color: $error;
    margin: 8px 0 0 12px;

    &:empty {
        height: 17px;
    }
}