@import "@styles/colors.scss";
@import "@styles/common-mixins.scss";

.textField {

    position: relative;
    padding: 24px 0 0 0;

    .labelWrapper {
        position: absolute;
        left: 12px;
        pointer-events: none;

        label {
            font-size: 16px;
            color: $mediumEmphasisTransparent;
        }
    }

    .inputWrapper {
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.25);
        background: white;
        display: flex;
        flex-direction: row;
        align-items: center;

        .textBlock {
            position: relative;
            background: none;
            outline: none;
            font-size: 16px;
            padding: 12px;
            width: 100%;
            box-sizing: border-box;

            * {
                margin: 0;
                padding: 0;
                outline: none;
                border: none;
            }
        }

        input {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 12px;
            outline: none;
            border: none;
            font-size: 16px;
            background: none;
            box-sizing: border-box;
            resize: none;
        }

        button {
            cursor: pointer;
            outline: none;
            border: none;
            background: none;
            padding: 4px;
            margin-right: 4px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include hoverIfSupported {
                background: rgba(0, 0, 0, 0.1);
            }

            &:active {
                background: rgba(0, 0, 0, 0.2);
            }

            svg {
                width: 24px;
                height: 24px;
                fill: $mediumEmphasis;
            }
        }
    }

    .helperMessage {
        font-size: 13px;
        color: $error;
        margin: 8px 0 0 12px;

        &:empty {
            height: 17px;
        }
    }

    @include hoverIfSupported {

        .inputWrapper {
            box-shadow: 0 0 0 1px black;
        }
    }

    &[data-display-error="true"] {

        .inputWrapper {
            box-shadow: 0 0 0 1px $error;
        }

        .labelWrapper {

            label {
                color: $error;
            }
        }

        &[data-is-focused="true"] {

            .inputWrapper {
                box-shadow: 0 0 0 2px $error;
            }
        }
    }

    &[data-is-focused="true"][data-display-error="false"] {

        .inputWrapper {
            box-shadow: 0 0 0 2px $focus;
        }

        .labelWrapper {

            label {
                color: $focus;
            }
        }
    }

    &[data-disabled="true"] {

        .inputWrapper {
            border: 1px solid rbga(0, 0, 0, 0.1);
            box-shadow: none;
            background: #ebebeb;

            input {
                color: rgba(0, 0, 0, 0.4);
            }
        }

        .labelWrapper {
            label {
                color: rgba(0, 0, 0, 0.4);
            }
        }

        .textBlock {
            pointer-events: none;
            color: rgba(0, 0, 0, 0.4);
        }
    }
}