@import "@styles/colors.scss";
@import "@styles/common-mixins.scss";

.wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
}

.dialog {
    @include hideScrollbar;

    position: relative;
    overflow: scroll;
    background: white;
    border-radius: 4px;
    z-index: 9999999;
    font-family: Roboto;
    max-height: 90vh;

    & > div {
        height: fit-content;
        width: max-content;
        box-sizing: border-box;
        padding: 0.01px;
    }
}

.overlay {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    pointer-events: all;
}