@import "@styles/colors.scss";

@layer psionic {

    .syncLoader {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: center;

        span {
            border-radius: 50%;
        }
    }
}