@import "@styles/colors.scss";
@import "@styles/main.scss";

@layer psionic {

    .typingReveal {
        display: flex;
        flex-direction: column;

        & > div {
            width: fit-content;
        }
    }
}
