@import "@styles/colors.scss";

@layer psionic {

    .quarterSpinner {
        box-sizing: border-box;
        border-radius: 50%;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @keyframes rotate {
            0% {
                rotate: 0deg;
            }
            25% {
                rotate: 90deg;
            }
            50% {
                rotate: 180deg;
            }
            75% {
                rotate: 270deg;
            }
            100% {
                rotate: 360deg;
            }
        }
    }
}