@import "@styles/colors.scss";

.bouncingText {
    display: flex;
    flex-direction: column;
    font-family: Roboto;

    & > div {

        .nonSpaceChar {
            display: inline-block;
        }
    }
}